URL=http://localhost:8000
PORT=8000

BCRYPT_SALT=10

DATABASE_URL=postgresql://user:password@localhost:5432/database

MAILER_USERNAME=example@gmail.com
MAILER_PASSWORD=aaaa bbbb cccc dddd

AVATAR_DIR=path/to/avatar
AVATAR_URL=http://localhost:8000/path/to/avatar

POST_DIR=path/to/post
POST_URL=http://localhost:8000/path/to/post

GROUP_AVATAR_DIR=path/to/group
GROUP_AVATAR_URL=http://localhost:8000/cdn/path/to/group

GEMINI_API_KEY=gemini-api-key